<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Ubuntu:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/c240b7738b.js" crossorigin="anonymous"></script>
</head>

<body style="background-color: #ffefe6; font-family: Arial, Helvetica, sans-serif">
    <nav>
        <img src="https://res.cloudinary.com/dkm37niwh/image/upload/v1695545387/wcvalmckf6j9iv1v4x7y.png" alt="brand img" width="125" style="margin: 2rem 46%;"/>
    </nav>
    <div style=" max-width: 720px; margin: auto; background-color: white; padding: 1rem; border-radius: 5px;">
        <h3 style="text-align: center;">Activate Your Account</h3>
        <div style="margin-top: 2rem; display: flex; justify-content: center;">
            <div>
                <img src="https://res.cloudinary.com/dkm37niwh/image/upload/v1695613072/steper_bnufge.png" alt="stepper" width="80%" style="margin: 0 10%; ">
            </div>
            <!-- <div style="display: flex; justify-content: center; align-items: center; width: 100%; color: #ff5c35;">
                <span style="padding: 8px 10px; border: 2px solid #ff5c35; border-radius: 50%; background-color: #ff5c35; color: white; "><i class="fa-solid fa-check"></i></span>
                <div style="height: 4px; width: 25%; background: #ff5c35; "></div>
                <span style="padding: 8px 10px; border: 2px solid #ff5c35; border-radius: 50%; color: #ff5c35;"><i class="fa-solid fa-envelope"></i></span>
                <div style="height: 1px; width: 25%; background: #ff5c35;"></div>
                <span style="padding: 8px 10px; border: 2px solid #ff5c35; border-radius: 50%; color: #ff5c35; opacity: 60%;"><i class="fa-solid fa-face-smile"></i></span>
            </div> -->
        </div>
        <!-- <div style="display: flex; justify-content: center; gap: 18%;">
            <p style="font-size: 12px; width: 90px;">Create Account</p>
            <p style="font-size: 12px; width: 100px;">Activate Account</p>
            <p style="font-size: 12px; width: 80px;">Enjoy Service</p>
        </div> -->
        <div style="font-size: 14px; color: gray; margin-top: 5rem; text-align: justify; padding: 0 1rem;">
            <p>We are thrilled to welcome <%= displayName %> to ShopIN! </p>
            <br>
            <P>Your journey with us begins today, and we can't wait to provide you with an exceptional experience. Our goal is to make your tenancy smooth, convenient, and enjoyable, and we're here to assist you every step of the way.</p>
            <br>
            <p>To get started and unlock the full potential of ShopIN, please take a moment to activate your account. It's a quick and easy process. Just click the button below:</p>
        </div>
        
        <div style="margin: 3rem 1rem; text-align: center;">
            <a href="<%= activationURL %>" target="_blank" style="background-color:#ff5c35; padding: 8px 20px; color: white; text-decoration: none; border-radius: 3px; font-size: 14px;">
                Activate Account
            </a>
        </div>
    </div>
    <footer style="font-size: 12px; color: gray; background-color: #ffefe6; padding: 2rem 0; text-align: center; line-height: 1.2rem;">
        <p>© 2023 ShopIN.pvt.ltd. All rights reserved.</p>
        <p>124BN Awesome Street, Home Town, Fullcity, 825467, India</p>
        <p>(987)-654-3210 | (987)-654-3211</p>
        <p>You received this email because you signed up for ShopIN.</p>
    </footer>
</body>
</html>