    <footer style="font-size: 12px; color: gray; margin: 2rem 0; text-align: center; line-height: 1.2rem;">
        <p>© 2023 ShopIN.pvt.ltd. All rights reserved.</p>
        <p>124BN Awesome Street, Home Town, Fullcity, 825467, India</p>
        <p>(987)654-3210 | (987)654-3211</p>
        <div style="margin: 15px 0;">
            <span style="margin: 0 10px; padding: 5px; background-color: gray; color: #ffffffce; border-radius: 50%;"><i class="fa-brands fa-youtube"></i></span>
            <span style="margin: 0 10px; padding: 5px; background-color: gray; color: #ffffffce; border-radius: 50%;"><i class="fa-brands fa-linkedin-in"></i></span>
            <span style="margin: 0 10px; padding: 5px; background-color: gray; color: #ffffffce; border-radius: 50%;"><i class="fa-brands fa-twitter"></i></span>
        </div>
        <p>You received this email because you signed up for ShopIN.</p>
    </footer>
</html>